{% extends 'base.html' %}


{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}

{% include 'navbar.html' %}

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto p-5">
          <div class="site-heading">
            <h4>Everyday quotes</h4>
            <br>
            <h6>{{quote.quote}}</h6>
            <h5>By:{{quote.author}}</h5>
          </div>
        </div>
      </div>
    </div>
    <section class="text-center">
      <h4 class="mb-5"><strong>Latest posts</strong></h4>

<div class="row ms-3 me-3">
      {% for post in posts %}

      <div class="col-sm-4">
        <div class="card" style="border:none;box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;border-radius: 5px;">
          <div class="card-body">
            <h5 class="card-title">Written by:{{ post.author.username }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Title: {{ post.title }}<span style="color: #16db3d"></h6>
            <p class="card-text"><span style="color: #16db3d"></span>{{ post.content }}<span style="color: #16db3d"></span></p>
            <a class="ms-5" style="text-decoration: none;" href="{{ url_for('main.comment', post_id=post.id) }}" class="">Comment</a>
            <a  class="ms-5" style="text-decoration: none;" href="{{ url_for('main.update_post', post_id=post.id) }}" class="card-link">Update</a>
            <div>
            <small class="ms-4 text-muted align-left">Posted On: <span style="color: #16db3d">{{ post.datePosted.strftime('%Y-%m-%d') }}</span></small>
          
          </div>
        </div>
      </div>
    </div>
      {% endfor %}
</div>
</section>

{% endblock%}