{% extends 'base.html' %}


{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand m-4" style="color: #85ff9e;">Beautiful Musings</h3>
          {%include 'navbar.html'%}
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{quote.quote}}</h1>
            <h2>{{quote.author}}</h2>
          </div>
        </div>
      </div>
    </div>


{% endblock%}