{% extends 'base.html' %}

{%include 'navbar.html'%}

<!--Content block-->
{%block content%}
<!--Registration form-->
        <div class="loginbox mx-auto mt-5 w-25 p-5 bg-steel border border-2 rounded">
            <h2>Let's Get Started</h2>
            <form method="POST" class="centerForm" action="">
                {{form.hidden_tag()}}
                    <fieldset class="">
                        <div class="form-group">
                            <p>{{ form.username.label(class="form-control-label") }}</p>
                            <p>{{ form.username(class="form-control-input") }}</p>
                        </div>
                        <div class="form-group">
                            <p>{{ form.email.label(class="form-control-label") }}</p>
                            <p>{{ form.email(class="form-control-input") }}</p>
                        </div>
                        <div class="form-group">
                            <p>{{ form.password.label(class="form-control-label") }}</p>
                            <p>{{ form.password(class="form-control-input") }}</p>
                        </div>
                        <div class="form-group">
                            <p>{{ form.confirm_password.label(class="form-control-label") }}</p>
                            <p>{{ form.confirm_password(class="form-control-input") }}</p>
                        </div>
                        <div class="form-group text-center">
                            {{ form.submit(class="btn bg-warning") }}
                        </div>
                    </fieldset>
                </form>

            <div class="text-muted text-center">
            Already signed up? <a href="{{ url_for ('main.login') }}">Login</a>
            </div>
        </div>

{% endblock %}
