{%extends 'base.html'%}

{%include 'navbar.html'%}

{%block content%}
<!--form content-->
    <section class="vh-100">
                
                
                    <div class="main text-center">
                        <form method="POST" class="centerForm" action="">
                        <div class="loginbox mx-auto mt-5 w-25 p-5 bg-light border border-2 rounded">
                    <p class="lead fw-normal mb-0 me-3">Sign to your account</p>  
                        {{form.hidden_tag()}}
    
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                    <p>{{ form.username.label(class="form-control-label") }}</p>
                    <p>{{ form.username(class="form-control-input") }}</p>
                    </div>
    
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                    <p>{{ form.password.label(class="form-control-label") }}</p>
                    <p>{{ form.password(class="form-control-input") }}</p>
                    </div>
    
                    <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                    {{form.remember(class="form-check-input")}}
                    {{form.remember.label(class="form-check-label")}}
                    </div>
                    <div>
                    <small class="text-muted m1-2">
                        <a href ="#">Forgot Password?</a>
                    </small>
                    </div>
                    </div>
                    <div>
                    {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                
                    </div>
    
                </form>

            <div class="text-muted text-center">
                Don't have an account? <a href="{{ url_for ('main.register') }}">Sign Up Now</a>
            </div>
            </div>
</section>

{% endblock %}
